<html>
    <body>
        <h1><%= title %></h1>
        <form method="POST" action="/new">
            <div>
                <label for="user-name">Name:</label>
                <input name="userName" id="user-name" />
            </div>
            <div>
                <label for="message-text">Text:</label>
                <textarea name="messageText" id="message-text">
                </textarea>
            </div>
            <div>
                <button>Add new message</button>
            </div>
        </form>
    </body>
</html>