<html>
    <body>
        <head>
            <link rel="stylesheet" href="/style.css" />
        </head>
        <h1>
            <%= title %>
        </h1>
        <div class="create">
            <a href="/new">Add new message</a>
        </div>
        <div>
            <% messages.forEach((messageItem) => { %>
                <%- include('message', {message: messageItem}) %>
            <% }); %>
        </div>
    </body>
</html>