<html>
    <body>
        <h1>
            <%= title %>
        </h1>
        <a href="/new">Add new message</a>
        <div>
            <% messages.forEach((message) => { %>
                <div>Message from <%= message.user %></div>
                <div><%= message.text %></div>
                <div>Date: <%= message.added %></div>
            <% }); %>
        </div>
    </body>
</html>