<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="backward">
            <a href="/">To main page</a>
        </div>        
        <div>
            <div class="message-container">
                <div class="message-header">Message from @<%= message.username %></div>
                <div class="message-text"><%= message.message_text %></div>
                <div class="message-date">Date: <%= message.message_date %></div>                
            </div>
        </div>
    </body>
</html>