<div class="message-container">
    <div class="message-header">Message from @<%= message.username %></div>
    <div class="message-text"><%= message.message_text %></div>
    <div class="message-date">Date: <%= message.message_date %></div>
    <div class="message-details"><a href="/message/<%= message.id %>">Details</a></div>
</div>